.App {
  text-align: center;
}


.appHeader {
  background-color: black;
  color: white;
  font-size: 4em;
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.instructions {
  margin-top: 0%;
  font-style: italic;
  padding-top: .5%;
  padding-bottom: .5%;
  color: white;
  background-color: rgb(53, 50, 50);
}

textarea {
  width: 200px;
  height: 150px;
}

input {
  width: 200px;
}

.imageGrid {
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
}

.movieCard {
  grid-column-start: 1;
  grid-column-end: five;
}

.poster {
  margin-bottom: 0%;
  outline: 2px solid black;
}

.title {
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 1.75em;
}

.genres, .genresDetails {
  font-size: 1em;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
  background-color: rgb(53, 50, 50);
}

.description, .descriptionDetails {
  font-size: 0.85em;
  padding: .5%;
}

.descriptionDetails, .genresDetails {
  padding-left: 40%;
  padding-right: 40%;
}
